<!DOCTYPE html>
<html> 
    <head>
        
        <title>{% block title %}Flowroute Inc.{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        {% block meta %}
            <meta name="description" content="">
            <meta name="author" content="">
        {% endblock %}

        {% block styles %}
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/vendor.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/styles.min.css') }}" />
        {% endblock %}

    </head>

    <body>
        
        {% include 'parts/menu.html' %}

        <div id="body">
            {% block body %}
            {% endblock %}
        </div>

        {% block scripts %}
            <script src="{{ url_for('static', filename='assets/vendor.min.js') }}"></script>
            <!--[if lt IE 9]>
            <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.2.1/jquery-migrate.min.js"></script>
            <![endif]-->
            <script src="{{ url_for('static', filename='assets/scripts.min.js') }}"></script>
            {% if config.DEBUG %}<script src="//localhost:35729/livereload.js"></script>{% endif %}
        {% endblock %}

    </body>
</html>