<section>
    <div class="wrapper">
        <h2>The Flowroute features applications need:</h2>
        <p>
            Developers use Flowroute because they know our voice service works, and features built into our system make integration simple and rewarding.
        </p>

        <h4>Intelligent SIP signaling:</h4>
        <p>
            Flowroute SIP packets deliver extended signaling that enables advanced features and detailed call tracking. CDRs can be exported with up-to-the-second accuracy for records and usage analysis.
        </p>
        [SIP packet goes here]

        <h4>Real-time control:</h4>
        <p>
            With Flowroute’s web-based Account manager, you can be up and running in minutes. And we pass direct phone network access on to you for instant activation of numbers, features, and advanced routing control.
        </p>

        <h4>Unlimited capacity: </h4>
        <p>
            Flowroute call channels scale instantly with your capacity needs. No negotiations, contracts, or bounced calls.
        </p>
    </div>
</section>