<section>

    <div class="wrapper">
        <h2>The Flowroute features UC needs:</h2>

        <h3>Unlimited channel capacity:</h3>
        <img src="{{ url_for('static',filename='assets/images/unlimitedchannel_2x.png') }}" class="section-image">
        <p>Unlimited call channels in and out of your phone system makes your phone service instantly scalable to meet your capacity needs as they evolve. Receive and make every call Add endpoints without expanding your service commitment Eliminate overspending on trunks Reduce infrastructure investment.</p>

        <h3>Toll-fraud controls:</h3>
        <img src="{{ url_for('static',filename='assets/images/toll-fraud_2x.png') }}" class="section-image">

        <p>When all of your communications are linked, it becomes more important than ever to integrate security parameters into every aspect of your system. Flowroute provides account level tools you can use to build customized protection against toll-fraud right into your business VoIP service.</p>

        <h3>Disable outbound SIP credentials</h3>
        <p>By authenticating outbound calls using a strict IP address whitelist, calls originating from outside your static IPs will be blocked.</p>

        <h3>Maximum outbound rate</h3>
        <p>Setting a maximum outbound rate protects your account from attackers sending calls to high-cost destinations.</p>

        <h3>Destination restriction</h3>
        <p>Many toll-fraud attacks use stolen credentials to route calls to a short list of destinations. This feature lets you block destinations you know you’ll never need to call.</p>

        <h3>Destination whitelisting</h3>
        <p>If your organization is focused on very specific regions, you can build a list of allowable destinations that will block calls to anywhere else in the world.</p>

        <h3>Intelligent SIP:</h3>
        <img src="{{ url_for('static',filename='assets/images/intellegentsip_2x.png') }}" class="section-image">
        <p>The rich data delivered in Flowroute SIP packets empowers detailed routing and tracking in real-time so you can more tightly integrate voice communications into your business process.</p>

        <h3>Advanced SIP headers:</h3>

        <h4>X-tag:</h4>
        <p>Add custom labels to your CDRs for easier call identification and management.</p>

        <h4>P-Asserted-Identity:</h4>
        <p>Customize Caller ID on outbound calls. Private and restricted caller IDs passed on inbound toll-free calls.
        </p>

        <h4>Diversion:</h4>
        <p>Crucial in call routing and message delivery logic for voicemail systems.</p>
    </div>

</section>