<section>
    <div class="wrapper">
        <h2>Inbound</h2>
        <img src="{{ url_for('static',filename='assets/images/inbound_2x.png') }}" class="responsive wow">
        <p>
            As the world’s first pure SIP carrier, Flowroute maximizes the uptime of your business VoIP system by actively finding the most reliable, highest quality path available for each call in real-time. Expanded SIP signaling exposes detailed routing intelligence so you can manage and track calls with granular control. Inbound call channels can be unlimited so that all calls get through. And you only pay for service you use, so you never overpay for trunks again. Or, you can keep costs predictable by building a pool of unlimited minutes over a fixed number of inbound channels shared by all of your phone numbers, including toll-free lines. 
        </p>
        <ul>
            <li class="rate">    
                <span class="name">US/CAN</span>
                <span class="value">$0.012</span>
                <span class="unit">min</span>
            </li>
        </ul>
        <br><br>
        <a href="#" class="btn">Compare rates</a>
    </div>
</section>