<nav id="menu">
    <div class="top">
        <div class="wrapper">
            <ul class="links">
                <li>+1-855-FLOWROUTE</li>
                <li><a href="">SUPPORT</a></li>
                <li><a href="">BLOG</a></li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="wrapper">
            <button class="toggle"><i class="fa fa-bars"></i></button>
            <a href="/"><h1>Flowroute Inc.</h1></a>
            <div class="links">
                <ul class="page strong">
                    <li><a href="/voice">VOICE</a></li>
                    <li><a href="/solutions">SOLUTIONS</a></li>
                    <li><a href="/pricing">PRICING</a></li>
                    <li><a href="/developers">DEVELOPERS</a></li>
                    <li><a href="/partners">PARTNERS</a></li>
                </ul>
                <ul class="account">
                    <li><a href="/login" class="login">LOGIN</a></li>
                    <li><a href="https://account.flowroute.com" class="signup">SIGN UP</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>