{% from "patterns/link.html" import link with context %}
{% from "patterns/main_link.html" import main_link with context %}

<nav id="menu">
    <div class="top">
        <div class="wrapper">
            <ul class="links">
                <li>+1-855-FLOWROUTE</li>
                <li><a href="">SUPPORT</a></li>
                <li><a href="">BLOG</a></li>
            </ul>
        </div>
    </div>
    <div class="main">
        {% set tablet_submenu = 'tablet_submenu' if has_submenu == True %}
        <div class="wrapper {{tablet_submenu}}">
            <button class="toggle" fr-toggle="main_menu"><i class="fa fa-bars"></i></button>
            <a href="/" id="logo">
                <img src="{{ url_for('static',filename='assets/images/flowroute_logo.svg') }}" fr-image>
            </a>
            <div id="main_menu" class="links">
                <ul class="page strong">
                    <li>{{ main_link('.voice', 'VOICE') }}</li>
                    <li>
                        {{ main_link('.solutions', 'SOLUTIONS', True, 'solutions_submenu') }}
                        {% set hide_on_tablet = 'hide_on_tablet' if section != '.solutions' %}
                        <div id="solutions_submenu" class="sub {{hide_on_tablet}}">
                            <ul>
                                <li>{{ link('.unified_communication', 'UNIFIED COMMUNICATIONS') }}</li>
                                <li>{{ link('.call_center', 'CALL CENTER') }}</li>
                                <li>{{ link('.pbx_and_phone_systems', 'PBX & PHONE SYSYEMS') }}</li>
                            </ul>
                        </div>
                    </li>
                    <li>{{ main_link('.pricing', 'PRICING') }}</li>
                    <li>{{ main_link('.developers', 'DEVELOPERS') }}</li>
                    <li>{{ main_link('.partners', 'PARTNERS') }}</li>
                </ul>
                <ul class="account">
                    <li><a href="/login" class="login">LOGIN</a></li>
                    <li><a href="https://account.flowroute.com" class="signup">SIGN UP</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>