{% from "pieces/link.html" import link with context %}
<nav id="menu">
    <div class="top">
        <div class="wrapper">
            <ul class="links">
                <li>+1-855-FLOWROUTE</li>
                <li><a href="">SUPPORT</a></li>
                <li><a href="">BLOG</a></li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="wrapper">
            <button class="toggle"><i class="fa fa-bars"></i></button>
            <a href="/"><h1>Flowroute Inc.</h1></a>
            <div class="links">
                <ul class="page strong">
                    <li>{{ link('.voice', 'VOICE') }}</li>
                    <li>{{ link('.solutions', 'SOLUTIONS', 'hasSubmenu') }}</li>
                    <li>{{ link('.pricing', 'PRICING') }}</li>
                    <li>{{ link('.developers', 'DEVELOPERS') }}</li>
                    <li>{{ link('.partners', 'PARTNERS') }}</li>
                </ul>
                <ul class="account">
                    <li><a href="/login" class="login">LOGIN</a></li>
                    <li><a href="https://account.flowroute.com" class="signup">SIGN UP</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% if request.endpoint in ['main.solutions'] %}
    <div class="sub">
        <div class="wrapper">
            <ul>
                <li>{{ link('.unified_communication', 'UNIFIED COMMUNICATIONS') }}</li>
            </ul>
        </div>
    </div>
    {% endif %}
</nav>