<section>
    <div class="wrapper">
        <h2>Outbound/International</h2>
        <img src="{{ url_for('static',filename='assets/images/outbound_2x.png') }}" class="section-image">
        <p>
            Our intelligent carrier platform ensures top voice quality by delivering outbound audio over the shortest call path possible. Streamlined call routing makes international calling clear and inexpensive because we remove unnecessary call legs. Outbound SIP trunking channels are always unlimited, so agents and reps can always reach customers. Strict customizable toll-fraud controls protect your balance from intruders on your network. 
        </p>
        <ul>
            <li class="rate">    
                <span class="name">US/CAN</span>
                <span class="value">$0.012</span>
                <span class="unit">min</span>
            </li>
        </ul>
        <br><br>
        <a href="#" class="btn">Compare rates</a>
    </div>
</section>