<div>
    <h2>The Flowroute features your IP PBX needs:</h2>

    <h4>Web-based SIP trunking management:</h4>
    <p>
        You are in control. The web-based Flowroute Account Manager is intuitively designed to put all the features and functions you need one or two clicks from activation. Deploy and manage business VoIP service from one centralized location. All changes you make take effect immediately. </p>

    <h4>Host-based routing:</h4>
    <p>
        For each number on your account, you can designate which PBX inbound calls route to, which helps prevent misrouting and dropped calls. Routing calls to a specific host or IP can also be more secure because you no longer need to store your SIP credentials on your PBX.</p>

    <h4>Failover routing:</h4>
    <p>
        Modern telephony relies on a functioning Internet connection and a power supply. Usually, if one of those goes down, your phones are out. Not with Flowroute SIP trunking. Preconfigured failover routes automatically deliver your calls to an alternate destination in the event the primary endpoint is unavailable. </p>


</div>
