<section>
    <div class="wrapper">
        <h2>Phone numbers</h2>
        <img src="{{ url_for('static',filename='assets/images/phonenumber_2x.png') }}" class="section-image">
        <p>
            With phone numbers in 17,000 rate centers across the US and Canada, Flowroute helps you keep your relationships local. [[Check number portability]] [[Search available numbers]] The Flowroute Manager provides detailed manual and automated controls that empower a truly responsive voice platform. [[Learn more]]
        </p>
    </div>
</section>