<section>
    <div class="wrapper">
        <h2>Toll-fraud protections</h2>
        <img src="{{ url_for('static',filename='assets/images/toll-fraud_2x.png') }}" class="section-image">
        <p>
            Security is a concern for any business. Flowroute provides account level tools you can use to build customized protection against toll-fraud. Disable outbound SIP credentials - By authenticating outbound calls using a strict IP address whitelist, calls originating from outside your static IPs will be blocked. Maximum outbound rate - Setting a maximum outbound rate protects your account from attackers sending calls to high-cost destinations. Destination restriction - Many toll-fraud attacks use stolen credentials to route calls to a short list of destinations. This feature lets you block destinations you know you’ll never need to call. Destination whitelisting - If your organization is focused on very specific regions, you can build a list of allowable destinations that will block calls to anywhere else in the world.
        </p>
    </div>
</section>