<section>
    <div class="wrapper">
    <h2>What we deliver:</h2>

<h3>Inbound calling</h3>
<img src="{{ url_for('static',filename='assets/images/inbound.svg') }}" fr-image="inbound" class="part_graphic">

<p>Detailed routing intelligence provides granular control of your SIP trunking. Choose unlimited channels, or unlimited minutes, for each phone number company wide.</p>

<h3>Outbound calling</h3>
<img src="{{ url_for('static',filename='assets/images/outbound.svg') }}" fr-image="outbound" class="part_graphic">

<p>Call quality is optimized over the most reliable routes available and by removing unnecessary call legs. Outbound SIP trunking channels are always unlimited.</p>

<h3>Local phone numbers</h3>
<img src="{{ url_for('static',filename='assets/images/phonenumber.svg') }}" fr-image="phonenumber" class="part_graphic">

<p>Purchase or port in local phone numbers from more than 17,000 rate centers across the US and Canada. Specify a unique rate plan for each number. </p>

<h3>Toll-free numbers</h3>
<img src="{{ url_for('static',filename='assets/images/toll-free.svg') }}"  fr-image="toll-free" class="part_graphic">

<p>Choose from a wide range of US/CAN toll-free numbers, or special order vanity numbers, with the click of a button. Port existing toll-free numbers to Flowroute free of charge.</p>

<h3>Toll-fraud protection</h3>
<img src="{{ url_for('static',filename='assets/images/toll-fraud.svg') }}" fr-image="toll-fraud" class="part_graphic">

<p>Keep your balance safe from intruders with real-time customizable toll-fraud protections. Restrict destinations, limit rates, block external IPs, and more from your account manager.</p>

<h3>Additional Services</h3>
<img src="{{ url_for('static',filename='assets/images/additional.svg') }}" fr-image="additional" class="part_graphic">

<ul>
<li>CNAM Storage - Boost call answer rates.</li>
<li>CNAM Lookup - Enable personalized greetings.</li> 
<li>E911 - The largest E911 coverage in the US and Canada.</li>
</ul>

</div>
</section>