.hero {

    
    text-align: center;
    background-color: $blue;
    color: $white;

    h1, .h1, h2, .h2{
        color: $white;
     }

    background-color: $blue;
    @include rem(padding,2);

    .wrapper {
         max-width: $tablet-width;
        margin:0 auto;
    }
   
    h1 {
        color:$white;
    }

    .desc {
        color: $white;
        @include rem(font-size,1.2);
        max-width: 400px;
    }

    @include mq(mobile) {
        h1 {
            @include rem(font-size,3);
            text-align: center;
        }
    }

    @include mq(mobile-landscape) {
        h1 {
            @include rem(font-size,4.2);
            text-align: left;
            max-width: $tablet-width;
            margin:0 auto;
        }
    }

}