section {
    > .wrapper {
        max-width: 1000px;
        margin: 0 auto;
        @include mq(mobile) {
            padding: 5px;
        }
        @include mq(tablet) {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
    background: $gray_light;
    &:nth-child(even) {
        background: darken($gray_light, 5%)
    }
}

section.blue_back {

    background-color: $blue;
    color: $white;

    h1, .h1, h2, .h2{
        color: $white;
     }
}