// Color Scheme
$light_gray: #d9e6e6;
$white: #f4f4f4;
$dark_gray:#373737;

// Device Widths
$mobile-width           : 450px;
$mobile-landscape-width : 700px;
$tablet-width           : 1024px;
$desktop-width          : 1200px;

