@font-face {font-family: 'ProximaNova-Light';src: url('fonts/proxima/266478_2_0.eot');src: url('fonts/proxima/266478_2_0.eot?#iefix') format('embedded-opentype'),url('fonts/proxima/266478_2_0.woff') format('woff'),url('fonts/proxima/266478_2_0.ttf') format('truetype'),url('fonts/proxima/266478_2_0.svg#wf') format('svg');}
@font-face {font-family: 'ProximaNova-Thin';src: url('fonts/proxima/266478_0_0.eot');src: url('fonts/proxima/266478_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/proxima/266478_0_0.woff') format('woff'),url('fonts/proxima/266478_0_0.ttf') format('truetype'),url('fonts/proxima/266478_0_0.svg#wf') format('svg');}
@font-face {font-family: 'ProximaNova-Regular';src: url('fonts/proxima/266478_3_0.eot');src: url('fonts/proxima/266478_3_0.eot?#iefix') format('embedded-opentype'),url('fonts/proxima/266478_3_0.woff') format('woff'),url('fonts/proxima/266478_3_0.ttf') format('truetype'),url('fonts/proxima/266478_3_0.svg#wf') format('svg');}
@font-face {font-family: 'ProximaNova-Bold';src: url('fonts/proxima/266478_4_0.eot');src: url('fonts/proxima/266478_4_0.eot?#iefix') format('embedded-opentype'),url('fonts/proxima/266478_4_0.woff') format('woff'),url('fonts/proxima/266478_4_0.ttf') format('truetype'),url('fonts/proxima/266478_4_0.svg#wf') format('svg');}
@font-face {font-family: 'ProximaNova-ExtraBold';src: url('fonts/proxima/266478_1_0.eot');src: url('fonts/proxima/266478_1_0.eot?#iefix') format('embedded-opentype'),url('fonts/proxima/266478_1_0.woff') format('woff'),url('fonts/proxima/266478_1_0.ttf') format('truetype'),url('fonts/proxima/266478_1_0.svg#wf') format('svg');}


// defaults
html, body {
    font-size: 10px;
    font-family: 'ProximaNova-Regular', 'Proxima Nova', 'Proxima', 'Montserrat', sans-serif;
}

// headers
h1, .h1 {
    @include rem(font-size,4.2);
    @include rem(line-height,4.5);
    color:$blue_dark;
    font-family: 'ProximaNova-Light', 'Proxima Nova', 'Proxima', 'Montserrat', sans-serif;
    margin:0;
    padding:0;
}

h2, .h2 {
    @include rem(font-size,3.6);
    @include rem(line-height,4);
    color:$gray;
    margin:0;
    padding:0;
}

h3, .h3 {
    @include rem(font-size,2.4);
    @include rem(line-height,6);
    color:$blue;
    font-family: 'ProximaNova-Bold', 'Proxima Nova', 'Proxima', 'Montserrat', sans-serif;
    margin:0;
    padding:0;
}

h4, .h4 {
    @include rem(font-size,2);
    @include rem(line-height,3);
    color:$gray;
    font-family: 'ProximaNova-Regular', 'Proxima Nova', 'Proxima', 'Montserrat', sans-serif;
    margin:0;
    padding:0;
}

p, .p {
    @include rem(font-size, 1.6);
}

strong, .strong {
    font-family: 'ProximaNova-Bold', 'Proxima Nova', 'Proxima', 'Montserrat', sans-serif;
}

blockquote, .blockquote {
    @include rem(font-size,2.4);
    color: $blue;
    font-family: 'ProximaNova-Light', 'Proxima Nova', 'Proxima', 'Montserrat', sans-serif;
    text-align: center;
}