<section class="hero">
    <div class="wrapper">
        <img src="{{ url_for('static',filename='assets/images/enterprisevoice.png') }}" class="hero-image">
        <h1>Enterprise Voice</h1>
        <p class="desc">Business moves fast. Time is tight, and so is budget. Today’s enterprise demands next-gen VoIP service that delivers optimum quality, the highest availability, seamless integration, and quickly and easily deploys across geographies. That’s why we built Flowroute. Built for optimum uptime and quality, Flowroute gives you the tools to remotely deploy phone service to new desks or entire locations - regardless of geography. Instantly scalable channel capacity boosts system performance and eliminates over spending on trunks. </p>
    </div>
</section>