<section class="hero">
    <div class="wrapper">
        <h1>The voice of Unified Communications</h1>
        <img src="{{ url_for('static',filename='assets/images/unifiedcommunications.png') }}" class="hero-image">
        <p>
            Your Unified Communications platform effectively assembles every endpoint in your enterprise under one umbrella. Conversations are simplified and collaboration is streamlined, but usage demands shift unpredictably. To fully realize the efficiency promised by UC, your voice connection must deliver flawless quality and reliability along with the ability to instantly scale traffic capacity.
        </p>

        <p>
            We designed Flowroute business VoIP service to be a rock-solid bridge to the PSTN that gives you the tools to maximize UC functionality. Make the most of your investment, with a voice service provider that delivers call stability, quality, combined with the system intelligence and flexibility to optimize your enterprise communications platform in real-time.
        </p>
    </div>
</section>