{% extends "template.html" %}

{% block title %}
Flowroute Inc. PBX and Phone Systems
{% endblock %}

{% block body %}
<section class="hero">
<div class="wrapper">
    <h1>SIP trunking for your IP PBX</h1>
</div>
</section>

<div>
    <p>
        Now that you’ve established your IP PBX on your network, you need an easy to integrate enterprise voice service you can count on to deliver a reliable yet flexible connection to the PSTN. Flowroute is designed to help you realize the full potential of your IP PBX. Setup is fast and simple, so you can affordably deploy voice service enterprise wide. Extended SIP signaling enables advanced routing capabilities and ensures functionality like DTMF and voice mail. Our platform architecture helps you shine by actively optimizing reliability and quality for every call. [[Try Flowroute Free]] Businesses use Flowroute service with these IP PBX and more: 3CX FreeSWITCH Cudatel Asterisk Avaya IP Office Grandstream UCM6100</p>
</div>

<div>
    <h2>The Flowroute Advantage</h2>
    <p>
        “Flowroute wins on cost, quality, and implementation speed.” Rick, Corporate Applications Manager Flowroute enterprise SIP trunking delivers new levels of efficiency. </p>

    <h4>Easy setup:</h4>
    <p>
        Our adherence to SIP RFC means Flowroute SIP trunking is broadly compatible with all SIP based platforms, so interop is simple and seamless. Creating your account takes less than 5 minutes, including configuration.</p>

    <h4>Cost efficiency:</h4>
    <p>
        Flowroute VoIP service rates are highly competitive, and that’s just the beginning of the savings you’ll see. Inbound and outbound channels scale on demand in real-time. You don’t have to overspend on trunks for rare spikes in traffic. With per-minute billing, you will only ever pay for the service you use, nothing more. </p>

    <h4>Commitment to customer success:</h4>
    <p>
        Our award-winning team of expert support engineers’ commitment to resolution has earned a 96% customer satisfaction rating. Support is free, and never tiered. We’re available on the phones 13 hours a day Monday to Friday, and via email ticket every day of the week. Because almost 90% of the calls we receive stem from issues outside of Flowroute service, we train our engineers to troubleshoot beyond our platform and examine your entire communications system.</p>
</div>

<div>
    <h2>The Flowroute features your IP PBX needs:</h2>

    <h4>Web-based SIP trunking management:</h4>
    <p>
        You are in control. The web-based Flowroute Account Manager is intuitively designed to put all the features and functions you need one or two clicks from activation. Deploy and manage business VoIP service from one centralized location. All changes you make take effect immediately. </p>

    <h4>Host-based routing:</h4>
    <p>
        For each number on your account, you can designate which PBX inbound calls route to, which helps prevent misrouting and dropped calls. Routing calls to a specific host or IP can also be more secure because you no longer need to store your SIP credentials on your PBX.</p>

    <h4>Failover routing:</h4>
    <p>
        Modern telephony relies on a functioning Internet connection and a power supply. Usually, if one of those goes down, your phones are out. Not with Flowroute SIP trunking. Preconfigured failover routes automatically deliver your calls to an alternate destination in the event the primary endpoint is unavailable. </p>


</div>

{% endblock %}