{% extends "template.html" %}

{% block title %}
Flowroute Inc. Unified Communications
{% endblock %}

{% block body %}
<section class="hero">
    <div class="wrapper">
	    <h1>The voice of Unified Communications</h1>
	    <img src="{{ url_for('static',filename='assets/images/unifiedcommunications.png') }}" class="hero-image">
	    <p>
	    Your Unified Communications platform effectively assembles every endpoint in your enterprise under one umbrella. Conversations are simplified and collaboration is streamlined, but usage demands shift unpredictably. To fully realize the efficiency promised by UC, your voice connection must deliver flawless quality and reliability along with the ability to instantly scale traffic capacity.

		We designed Flowroute business VoIP service to be a rock-solid bridge to the PSTN that gives you the tools to maximize UC functionality. Make the most of your investment, with a voice service provider that delivers call stability, quality, combined with the system intelligence and flexibility to optimize your enterprise communications platform in real-time. 
		</p>
	</div>
</section>

<div>
	 
	
<section>
	<div class="left">
		“With Flowroute, all I have to worry about is my part.” 
		- James, Director of Engineering 
	</div>

	<div class="right">
		A trial worthy of your enterprise

		Qualified organizations receive $25 credit to implement Flowroute SIP trunking in live or testing environments.

		Call volume:

		Users:

		Primary platform: (dropdown)

		Apply



		Second State:

		You qualify!

		Once you’ve created your account, contact Flowroute support and provide them with this code:

		[randomly generated unique code]

		They’ll add the additional test credit to your account.
	</div>
</section>

<section>
	<div>
<h2>The Flowroute advantage</h2>


<h3>Full adoption of Unified Communications starts with laying the right foundation for your platform. Telecom experts trust Flowroute to set them up for success with every communications rollout.</h3> 

<img src="{{ url_for('static',filename='assets/images/dmd.png') }}" class="large-image">

<h4>Reliability and quality:</h4>

End jitter. Forget delays. Cut out dropped calls. Our carrier platform adheres to telecom standards that ensure audio quality, and we streamline call transmission to bypass service disruptions. 



<h4>Flexibility and control:</h4>

You can be placing calls with Flowroute in less than two minutes. And when you need to update your account, there’s no wait. Instantly manage routes, numbers, and the features that keep your users, and account balance safe, right on your account.


<h4>Expansion:</h4>

Consolidate multi-vendor environments under the open business VoIP carrier you can count on to work with any endpoint. As communications continue to progress, our dynamic and adaptable phone service is ready to connect with advancing technology. 

Businesses use Flowroute with these UC platforms and more:

Fonality
Avaya Aura


Cisco Call Manager
Microsoft Lync

SIPXECS
Shoretel


[[Create account]]
</div>
</section>

<section>
	<div>


Flowroute in action:

When Fonality needs to know their platform is working right, their engineers remove the potential for outside error by testing with Flowroute. 

[[Read more]]
	</div>
</section>

<section>
	<div>
	<h2>The Flowroute features UC needs:</h2>

	<h3>Unlimited channel capacity:</h3>
	<img src="{{ url_for('static',filename='assets/images/unlimitedchannel_2x.png') }}" class="section-image">
	Unlimited call channels in and out of your phone system makes your phone service instantly scalable to meet your capacity needs as they evolve.

	Receive and make every call
	Add endpoints without expanding your service commitment
	Eliminate overspending on trunks
	Reduce infrastructure investment

	<h3>Toll-fraud controls:</h3>
	<img src="{{ url_for('static',filename='assets/images/toll-fraud_2x.png') }}" class="section-image">
	When all of your communications are linked, it becomes more important than ever to integrate security parameters into every aspect of your system. Flowroute provides account level tools you can use to build customized protection against toll-fraud right into your business VoIP service. 

	<br><strong>Disable outbound SIP credentials</strong><br> By authenticating outbound calls using a strict IP address whitelist, calls originating from outside your static IPs will be blocked.

	<br><strong>Maximum outbound rate</strong><br> Setting a maximum outbound rate protects your account from attackers sending calls to high-cost destinations.

	<br><strong>Destination restriction</strong><br> Many toll-fraud attacks use stolen credentials to route calls to a short list of destinations. This feature lets you block destinations you know you’ll never need to call.

	<br><strong>Destination whitelisting</strong><br> If your organization is focused on very specific regions, you can build a list of allowable destinations that will block calls to anywhere else in the world. 

	<h3>Intelligent SIP:</h3>
	<img src="{{ url_for('static',filename='assets/images/intellegentsip_2x.png') }}" class="section-image">
	The rich data delivered in Flowroute SIP packets empowers detailed routing and tracking in real-time so you can more tightly integrate voice communications into your business process. 

	<h4>Advanced SIP headers:</h4>

	<br><strong>X-tag:</strong><br> Add custom labels to your CDRs for easier call identification and management. 
	<br><strong>P-Asserted-Identity:</strong><br> Customize Caller ID on outbound calls. Private and restricted caller IDs passed on inbound toll-free calls.
	<br><strong>Diversion:</strong><br> Crucial in call routing and message delivery logic for voicemail systems.


	</div>
</section>
{% endblock %}