{% extends "template.html" %}

{% block title %}
Flowroute Inc. Voice
{% endblock %}

{% block body %}
<div id="header">
    <div class="wrapper">
        <h1>Voice</h1>
        <i class="icon fa fa-bars"></i>
        <p class="desc">A thing about a deal with a guy at a place about that time when that one part was at that point where it was about to do what it does.</p>
        <p class="desc">A thing about a deal with a guy at a place about that time when that one part was at that point where it was about to do what it does.</p>
    </div>
</div>
{% endblock %}