@include mq(mobile-landscape){

    .top {
        .wrapper {
            @include rem(margin, 0, 1);
        }
        ul {
            text-align:right;
        }
    }

    .main {
        #logo {
            width:200px;
            overflow: inherit;
            @include rem(line-height, 7.5);
            img {
                width:154px;
            }
        }
    }

}