@include mq(mobile) {
    .toggle {
        @include rem(font-size,3);
        @include rem(height, 7.5);
        @include rem(width, 7.5);
        background-color: transparent;
        border: 0;
        color: $white;
        display: block;
        float: right;
        margin:0;
    }
    .toggle-sub {
        background-color: transparent;
        @include rem(font-size,3);
        display: block;
        float: right;
        height: 50px;
        width: 50px;
        border: 0;
        color: $white;
        position: absolute;
        right:0;
        i {
            pointer-events: none;
        }
    }
    .top {
        background-color: #000000;
        color: #FFFFFF;
        .wrapper {
            max-width: 100%;
            margin: 0 auto;
        }
        ul {
            list-style: none;
            display: block;
            margin: 0 auto;
            padding: 0;
            text-align: center;
            @include rem(font-size,1.2);
        }
        li {
            list-style: none;
            display: inline-block;
            @include rem(margin, 0,0,0,1);
            padding: 0;
            a {
                color: $white;
                @include rem(line-height, 3.5);
                text-decoration: none;
                &:hover {
                    color: $gray_light;
                    transition: color 0.25s ease;
                }
            }
        }
    }
    .main {
        background-color: $gray;
        .wrapper {
            max-width: 100%;
            margin: 0 auto;
        }
        .toggle i {
            vertical-align: middle;
        }
        #logo {
            margin:0;
            padding: 0;
            display: inline-block;
            overflow: hidden;
            @include rem(width, 6);
            @include rem(line-height, 7.5);
            @include rem(text-indent, 1.5);
            img {
                width:200px;
                display: inline-block;
                vertical-align: middle;
            }
        }
        .links {
            overflow: hidden;
            visibility: hidden;
            max-height: 0;
            margin: 0;
            display: block;
            width: 100%;
            .page, .account {
                margin:0;
                padding:0;
            }
            &.show {
                overflow: hidden;
                visibility: visible;
                max-height: 1000px;
                -webkit-transition: visibility 0.35s, max-height 0.35s ease-in;
                transition: visibility 0.35s, max-height 0.35s ease-in;
            }
            .sub {
                overflow: hidden;
                visibility: hidden;
                max-height: 0;
                margin: 0;
                display: block;
                padding:0;
                background-color: $gray_dark;
                ul {
                    margin:0;
                    padding:0;
                }
                &.show {
                    overflow: hidden;
                    visibility: visible;
                    max-height: 1000px;
                    -webkit-transition: visibility 0.35s, max-height 0.35s ease-in;
                    transition: visibility 0.35s, max-height 0.35s ease-in;
                }
            }
            li {
                list-style: none;
                display: block;
                margin: 0;
                width: 100%;
                clear: both;
                a {
                    display: block;
                    color: $white;
                    @include rem(line-height,5);
                    @include rem(font-size,1.2);
                    text-decoration: none;
                    margin: 0;
                    text-align: center;
                    &:hover {
                        background-color: #2c2c2c;
                        transition: background-color 0.5s ease;
                    }
                }
            }
        }
    }
}