@include mq(tablet) {
    .toggle {
        display: none;
    }
    .top {
        .wrapper {
            max-width: $tablet-width;
            margin:0 auto;
        }
        .links {
            margin-right:3rem;
        }
    }
    .main {
        .wrapper {
            max-width: $tablet-width;
            margin: 0 auto;
            height: 7.5rem;
        }
        .links {
            display: inline-block;
            width: ($tablet-width - 200);
            visibility: visible;
            max-height: 1000px;
            .page {
                display: inline-block;
                li {
                    display: inline-block;
                    width: auto;
                    font-size: 0;
                    position:relative;
                    a {
                        display: inline-block;
                        height:7.5rem;
                        line-height: 7.5rem;
                        padding:0 3rem;
                        &.selected:after {
                            content:"";
                            width: 0; 
                            height: 0; 
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-bottom: 10px solid $blue;
                            position: absolute;
                            bottom:0;
                            left:50%;
                            margin:0 0 0 -10px;
                        }
                        &.hasSubmenu:after {
                            border-bottom: 10px solid $blue_dark;
                        }
                    }
                }
            }
            .account {
                float: right;
                display: inline-block;
                li {
                    display: inline-block;
                    width: auto;
                    a {
                        display: inline-block;
                    }
                }
            }
        }
    }
    .sub {
        ul {
            text-align: left;
            li {
                display: inline-block;
                margin-right:5rem;
            }
        }
    }
}