@include mq(tablet) {
    .toggle {
        display: none;
    }
    .toggle-sub {
        display: none;
    }
    .top {
        .wrapper {
            max-width: $tablet-width;
            margin:0 auto;
        }
        .links {
            @include rem(margin-right, 3);
        }
    }
    .main {
        .wrapper {
            max-width: $tablet-width;
            margin: 0 auto ;
            @include rem(height,7.5);
            &.tablet_submenu {
                @include rem(margin-bottom,5);
            }
        }
        #logo {
            @include rem(margin, 0,1);
            padding: 0;
            display: inline-block;
            overflow: hidden;
            text-indent: 0;
            @include rem(line-height, 7.5);
            width:154px;
            img {
                display: inline-block;
                vertical-align: middle;
            }
        }
        .links {
            display: inline-block;
            width: ($tablet-width - 220);
            visibility: visible;
            max-height: 1000px;
            &.show {
                overflow: hidden;
            }
            .page {
                display: inline-block;
                li {
                    display: inline-block;
                    width: auto;
                    font-size: 0;
                    position:static;
                    a {
                        display: inline-block;
                        @include rem(height,7.5);
                        @include rem(line-height,7.5);
                        @include rem(padding,0,3);
                        &.selected:after {
                            content: "";
                            width: 0;
                            height: 0;
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-bottom: 10px solid $blue;
                            position: relative;
                            top: 30%;
                            left: -50%;
                            margin: -10px;
                        }
                        &.has_submenu:after {
                            border-bottom: 10px solid $blue_dark;
                        }
                    }
                    .sub {
                        background-color: $blue_dark;
                        left:0;
                        @include rem(max-height,5);
                        position: absolute;
                        @include rem(top,11);
                        visibility: visible;
                        width:100%;
                        overflow: hidden;
                        ul {
                            @include rem(height,5);
                            text-align: left;
                            max-width: $tablet-width;
                            margin:0 auto;
                            li {
                                display: inline-block;
                                a {
                                    @include rem(line-height,5);
                                }
                            }
                        }
                        &.hide_on_tablet {
                            display: none;
                        }
                    }
                }
            }
            .account {
                float: right;
                display: inline-block;
                li {
                    display: inline-block;
                    width: auto;
                    @include rem(line-height, 7.5);
                    a {
                        @include rem(line-height, 3rem);
                        display: inline-block;
                        @include rem(padding, 0, 1.5rem);
                        @include border-radius(4px);
                    }
                    a.signup {
                        border:2px solid $white;
                    }
                }
            }
        }
    }
}