@include mq(mobile) {
    .toggle {
        background-color: transparent;
        font-size: 3rem;
        display: block;
        float: right;
        height: 50px;
        width: 50px;
        margin: 1.5rem;
        border: 0;
        color:$white;
    }
    .top {
        background-color: #000000;
        color: #FFFFFF;
        .wrapper {
            max-width: 100%;
            margin: 0 auto;
        }
        ul {
            list-style: none;
            display: block;
            margin: 0 auto;
            padding: 0;
            text-align: center;
            font-size: 1.2rem;
        }
        li {
            list-style: none;
            display: inline-block;
            margin: 0 0 0 1rem;
            padding: 0;
            a {
                color: $white;
                line-height: 3.5rem;
                text-decoration: none;
                &:hover {
                    color: $light_gray;
                    transition: color 0.25s ease;
                }
            }
        }
    }
    .main {
        background-color: $dark_gray;
        .wrapper {
            max-width: 100%;
            margin: 0 auto;
        }
        h1 {
            margin: 1.5rem;
            padding: 0;
            text-indent: -999999px;
            background-image: url(images/flowroute-logo_154x40.png);
            background-position: left center;
            background-repeat: no-repeat;
            width: 50px;
            display: inline-block;
            vertical-align: top;
        }
        .links {
            visibility: visible;
            max-height: 1000px;
            -webkit-transition: visibility 0.35s, max-height 0.35s ease-in;
            transition: visibility 0.35s, max-height 0.35s ease-in;
            overflow: auto;
            margin:0;
            display: block;
            width:100%;
            &.hidden {
                overflow: hidden;
                visibility: hidden;
                max-height: 0;
                -webkit-transition: visibility 0.2s, max-height 0.2s ease;
                transition: visibility 0.2s, max-height 0.2s ease;
            }
            .page {
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    display: block;
                    margin: 0;
                    width: 100%;
                    clear: both;
                    a {
                        display: block;
                        color: $white;
                        line-height: 5rem;
                        font-size: 1.2rem;
                        text-decoration: none;
                        margin: 0;
                        text-align: center;
                        &:hover {
                            background-color: #2c2c2c;
                            transition: background-color 0.5s ease;
                        }
                    }
                }
            }
            .account {
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    display: block;
                    margin: 0;
                    width: 100%;
                    clear: both;
                    a {
                        display: block;
                        color: $white;
                        line-height: 5rem;
                        text-decoration: none;
                        margin: 0;
                        text-align: center;
                    }
                }
            }
        }
        // li {
        //     list-style: none;
        //     @include mq(mobile) {
        //         display: block;
        //     }
        //     @include mq(tablet) {
        //         display: inline-block;
        //     }
        //     margin: 0 0 0 0;
        //     padding: 0;
        // }
        // ul.left li a {
        //     color: #FFFFFF;
        //     line-height: 7.5rem;
        //     text-decoration: none;
        //     margin: 0;
        //     height: 7.5rem;
        //     padding: 0 3rem;
        //     display: block;
        // }
        // ul.left li a:hover {
        //     background-color: #2c2c2c;
        //     transition: background-color 0.5s ease;
        // }
        // ul.right {
        //     @include mq(tablet) {
        //         position:absolute;
        //         top:0;
        //         right:0;
        //     }
        // }
        // ul.right li {
        //     vertical-align: middle;
        // }
        // ul.right li a {
        //     margin: 1.80rem 0.75rem 0;
        //     display: block;
        //     padding: 0.75rem 1.5rem;
        //     color: #FFFFFF;
        //     text-decoration: none;
        //     border-radius: 4px;
        // }
        // ul.right li a.login {
        //     border: 3px solid #373737;
        // }
        // ul.right li a.login:hover {
        //     background-color: #2c2c2c;
        //     border: 3px solid #2c2c2c;
        //     transition: background-color 0.25s ease;
        // }
        // ul.right li a.signup {
        //     border: 3px solid white;
        // }
        // ul.right li a.signup:hover {
        //     background-color: #FF6e19;
        //     border: 3px solid #FF6e19;
        //     transition: background-color 0.25s ease;
        // }
    }
}