#patterns {

    @include mq(mobile) {
        h1 {
            font-size:1rem;
        }
    }

    @include mq(mobile-landscape) {
        h1 {
            font-size:2rem;
        }
    }
 
    @include mq(tablet) {
        h1 {
            font-size:3rem;
        }
    }

}

